body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 10px;

    margin: 0;
    height: 170vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    /* background: linear-gradient(135deg, #bdc3c7, #2c3e50); */
    background: linear-gradient(135deg, #eacda3, #d6ae7b);
    background-size: cover;
}

.container {
    width: 500px;
    max-width: 500px;
    margin: 1rem auto;
    /* Center horizontally with auto margin */
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;

}

h2 {
    text-align: center;
}

.form-group {

    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    font-family: 'Helvetica Neue';

    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {

    text-align: center;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Adjust the margin as needed */
}