<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link href="/admin_complain_page.css" rel="stylesheet"  />
        <link href="/custom.css" rel="stylesheet" />
        <link href="/bootstrap.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
        <title>Complain</title>
    </head>
    <body id="body">
        <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Logo and responsive toggle -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/admin_dashboard">
                        <!-- <span class="glyphicon glyphicon-fire"></span>  -->
                        <span class="logo-container"><img src="/images/uni_logo.png" width="40" height="40" alt="uni_logo" /></span>
                        Bangabandhu Hall, SUST
                    </a>
                </div>
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/admin_dashboard">Home</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Applications <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="about-us">
                                <li><a href="/admin_dashboard_applicants">New applications</a></li>
                                <li><a href="/admin_dashboard_selected_applicants">Selected For Viva</a></li>
                                <li><a href="/admin_dashboard_accepted_applicants">Pending Payment</a></li>
                                <li><a href="/admin_dashboard_admitted_applicants">Admitted</a></li>
                                <li><a href="/admin_dashboard_rejected_applicants">Rejected</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/payment">Payment</a>
                        </li>
                        <li>
                            <a href="/admin_complain_page">Complaints</a>
                        </li>
                        <li>
                            <a href="/leave_requests">Leave Requests</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        
        <div class="main__container">
            <div class="main__cards">
                <div class="card">
                    <i class="fa fa-user-o fa-2x text-lightblue" aria-hidden="true"></i>
                    <div class="card_inner">
                        <p class="text-primary-p">TOTAL ACCESS AUTHORITY</p>
                        <span class="font-bold text-title">1</span>
                    </div>
                </div>
                <div class="card">
                    <i class="fa fa-calendar fa-2x text-red" aria-hidden="true"></i>
                    <div class="card_inner">
                        <p class="text-primary-p">REGISTERED USERS</p>
                        <span class="font-bold text-title">2467</span>
                    </div>
                </div>
                <div class="card">
                    <i class="fa fa-video-camera fa-2x text-yellow" aria-hidden="true"></i>
                    <div class="card_inner">
                        <p class="text-primary-p">TOTAL REPORT</p>
                        <span class="font-bold text-title">340</span>
                    </div>
                </div>
                <div class="card">
                    <i class="fa fa-thumbs-up fa-2x text-green" aria-hidden="true"></i>
                    <div class="card_inner">
                        <p class="text-primary-p">TOTAL REPORT SOLVED</p>
                        <span class="font-bold text-title">64</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1>Report Data</h1>
        </div>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Id</th>
                        <th>Room Number</th>
                        <th>Report title</th>
                        <th>Report desc.</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td>Asif Iqbal Rumi</td>
                        <td>2019831033</td>
                        <td>201</td>
                        <td>Chair Broken</td>
                        <td>
                            <button class="action-btn popup-btn" style="font-size: 30px; color: orange;">
                              <i class="fa fa-envelope"></i>
                            </button>
                          </td>                       
                          <td>02/11/2023</td>
                        <td>
                            <button class="action-btn_solved" onclick="markAsSolved(this)">Solved</button>
                            <button class="action-btn_delete" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>antor Roy</td>
                        <td>2021831021</td>
                        <td>205</td>
                        <td>bed broken</td>
                        <td>
                            <button class="action-btn popup-btn" style="font-size: 30px; color: orange;">
                              <i class="fa fa-envelope"></i>
                            </button>
                          </td>  
                        <td>05/02/2023</td>
                        <td>
                            <button class="action-btn_solved" onclick="markAsSolved(this)">Solved</button>
                            <button class="action-btn_delete" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Niladri Roy</td>
                        <td>2017831021</td>
                        <td>305</td>
                        <td>Chair problem</td>
                        <td>
                            <button class="action-btn popup-btn" style="font-size: 30px; color: orange;">
                              <i class="fa fa-envelope"></i>
                            </button>
                          </td>  
                        <td>12/04/2022</td>
                        <td>
                            <button class="action-btn_solved" onclick="markAsSolved(this)">Solved</button>
                            <button class="action-btn_delete" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Tawsif Ratul</td>
                        <td>2019831021</td>
                        <td>303</td>
                        <td>Chair problem</td>
                        <td>
                            <button class="action-btn popup-btn" style="font-size: 30px; color: orange;">
                              <i class="fa fa-envelope"></i>
                            </button>
                          </td>  
                        <td>12/04/2022</td>
                        <td>
                            <button class="action-btn_solved" onclick="markAsSolved(this)">Solved</button>
                            <button class="action-btn_delete" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Zawadul Karim</td>
                        <td>2017831041</td>
                        <td>205</td>
                        <td>Chair problem</td>
                        <td>
                            <button class="action-btn popup-btn" style="font-size: 30px; color: orange;">
                              <i class="fa fa-envelope"></i>
                            </button>
                          </td>  
                        <td>12/04/2022</td>
                        <td>
                            <button class="action-btn_solved" onclick="markAsSolved(this)">Solved</button>
                            <button class="action-btn_delete" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Semanto Chawdhury</td>
                        <td>2018831021</td>
                        <td>3023</td>
                        <td>Broken Table</td>
                        <td>
                            <button class="action-btn popup-btn" style="font-size: 30px; color: orange;">
                              <i class="fa fa-envelope"></i>
                            </button>
                          </td>  
                        <td>12/04/2022</td>
                        <td>
                            <button class="action-btn_solved" onclick="markAsSolved(this)">Solved</button>
                            <button class="action-btn_delete" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Robin Ahmed</td>
                        <td>2018831071</td>
                        <td>305</td>
                        <td>Chair problem</td>
                        <td>
                            <button class="action-btn popup-btn" style="font-size: 30px; color: orange;">
                              <i class="fa fa-envelope"></i>
                            </button>
                          </td>  
                        <td>12/04/2022</td>
                        <td>
                            <button class="action-btn_solved" onclick="markAsSolved(this)">Solved</button>
                            <button class="action-btn_delete" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Saikot Hasan</td>
                        <td>2021831021</td>
                        <td>305</td>
                        <td>Chair problem</td>
                        <td>
                            <button class="action-btn popup-btn" style="font-size: 30px; color: orange;">
                              <i class="fa fa-envelope"></i>
                            </button>
                          </td>  
                        <td>12/04/2022</td>
                        <td>
                            <button class="action-btn_solved" onclick="markAsSolved(this)">Solved</button>
                            <button class="action-btn_delete" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Minhazur Rahman</td>
                        <td>2020831021</td>
                        <td>1033</td>
                        <td>Bed broken</td>
                        <td>
                            <button class="action-btn popup-btn" style="font-size: 30px; color: orange;">
                              <i class="fa fa-envelope"></i>
                            </button>
                          </td>  
                        <td>12/04/2022</td>
                        <td>
                            <button class="action-btn_solved" onclick="markAsSolved(this)">Solved</button>
                            <button class="action-btn_delete" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Niloy Mojumder</td>
                        <td>2022831029</td>
                        <td>1066</td>
                        <td>Chair problem</td>
                        <td>
                            <button class="action-btn popup-btn" style="font-size: 30px; color: orange;">
                              <i class="fa fa-envelope"></i>
                            </button>
                          </td>  
                        <td>12/04/2022</td>
                        <td>
                            <button class="action-btn_solved" onclick="markAsSolved(this)">Solved</button>
                            <button class="action-btn_delete" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            <div class="popup-wrap">
                <div class="popup-box">
                    <!-- description of the popup window -->
                  <h2>Chair Broken</h2>
                  <h3>Due to some reason my chair got loose support and suddenly one pillar got broke.</h3>
                  <a class="close-btn popup-close" href="#">x</a>
                </div>
              </div>
        </div>
        <script src="/jquery-1.11.3.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/jquery.easing.min.js"></script>

        <!-- Custom Javascript -->
        <script src="/custom.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="script.js"></script>
    </body>
</html>
