<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link rel="stylesheet" href="/admin_dash.css" />
  </head>
  <body>
    <ul>
      <li><span>Home</span></li>
      <li>
        <a href="/admin_dashboard_applicants"><span>Applications</span></a>
      </li>
      <li>
        <a href="/admin_dashboard_accepted_applicants"
          ><span>Accepted applicants</span></a
        >
      </li>
      <li>
        <a href="/admin_dashboard_rejected_applicants"
          ><span>Rejected applicants</span></a
        >
      </li>
      <li>
        <a href="/admin_dashboard_viewpayment"><span>View payment</span></a>
      </li>
    </ul>
  </body>
</html>
