<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/admin_dashboard_applicants.css" />
  </head>
  <body>
    <table class="user-list">
      <thead>
        <tr>
          <th><span>Applicants</span></th>
          <th><span>Created</span></th>
          <th class="text-center"><span>Status</span></th>
          <th><span>Email</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" />
            <a href="#" class="user-link">Full name 1</a>
            <span class="user-subhead">Member</span>
          </td>
          <td>2013/08/12</td>
          <td class="text-center">
            <span class="label status-level-rejected">rejected</span>
          </td>
          <td>
            <a href="#" class="mail-link">marlon@brando.com</a>
          </td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </body>
</html>
