<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link rel="stylesheet" href="/admin_dash.css" />
  </head>
  <body>
    <ul>
      <li><span>Home</span></li>
      <li><span>Applications</span></li>
      <li><span>Accepted applicants</span></li>
      <li><span>Rejected applicants</span></li>
      <li><span>View payment</span></li>
    </ul>
  </body>
</html>