<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Dashboard</title>

    <link href="/bootstrap.css" rel="stylesheet">

    <link href="/custom.css" rel="stylesheet">

    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->
    
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin_dashboard">
                	<!-- <span class="glyphicon glyphicon-fire"></span>  -->
                    <span class="logo-container"><img src="/images/uni_logo.png" width="40" height="40" alt="uni_logo"></span> 
                	Bangabandhu Hall, SUST
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/admin_dashboard">Home</a>
                    </li>
        
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Applications <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/admin_dashboard_applicants">New applications</a></li>
							<li><a href="/admin_dashboard_selected_applicants">Selected For Viva</a></li>
							<li><a href="/admin_dashboard_accepted_applicants">Pending Payment</a></li>
                            <li><a href="/admin_dashboard_admitted_applicants">Admitted</a></li>
                            <li><a href="/admin_dashboard_rejected_applicants">Rejected</a></li>
						</ul>
					</li>
                    <!-- <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Complaints <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/complaints_details">Pending</a></li>
							<li><a href="/admin_dashboard_selected_applicants">Resolved</a></li>
						</ul>
					</li> -->
                    <li>
                        <a href="/payment">Payment</a>
                    </li>
                    <li>
                        <a href="/admin_complain_page">Complaints</a>
                    </li>
                    <li>
                        <a href="/leave_requests">Leave Requests</a>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="header-content-inner">
                    <img src="/images/uni_logo.png" width="200" height="200" alt="uni_logo">
                </div>
                <a href="admin_dashboard_admitted_applicants" class="btn btn-primary btn-lg">Student Details</a><br>
                <a href="assign_room" class="btn btn-primary btn-lg">Room details</a><br>
                <!-- <a href="#" class="btn btn-primary btn-lg">Engage Now</a><br>
                <a href="#" class="btn btn-primary btn-lg">Engage Now</a> -->
            </div>
        </div>
    </header>

    <!-- jQuery -->
    <script src="/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="/custom.js"></script>

</body>

</html>

