<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Dashboard</title>

    <link href="/bootstrap.css" rel="stylesheet">

    <link href="/custom.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
    <style>
      body {
        font-family: 'Arial', 'Helvetica', 'sans-serif';
      }

      input {
        font-family: 'Arial', 'Helvetica', 'sans-serif';
      }

      a {
        text-decoration: none;
        color: #fff;
      }

      .table_container {
        margin-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .form-row {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
      }

      .form-row label {
          flex: 1 1 100px; /* Adjust label width */
          margin-right: 10px;
      }

      .form-row input {
          flex: 1 1 calc(60%); /* Adjust input width */
          padding: 8px;
          margin-right: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
      }

      .centered-heading {
        text-align: center;
      }

      .data_table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 30%;
      }

      .data_table td {
        text-align: center;
      }

      .data_table td, .data_table th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      .data_table tr:nth-child(even){background-color: #f2f2f2;}

      .data_table tr:hover {background-color: #ddd;}

      .data_table th {
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #337ab7;
        color: white;
      }

      .accept-button {
        background-color: #00A300;
        color: white;
        border: none;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 2px 2px;
        cursor: pointer;
    }

    .reject-button {
        background-color: red;
        color: white;
        border: none;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 2px 2px;
        cursor: pointer;
    }
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<span class="glyphicon glyphicon-fire"></span> 
                	Bangabandhu Hall, SUST
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                      <a href="#">Home</a>
                  </li>
        
					<!-- <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Applications <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/admin_dashboard_applicants">New applications</a></li>
							<li><a href="/admin_dashboard_selected_applicants">Selected For Viva</a></li>
							<li><a href="/admin_dashboard_accepted_applicants">Pending Payment</a></li>
                            <li><a href="/admin_dashboard_admitted_applicants">Admitted</a></li>
                            <li><a href="/admin_dashboard_rejected_applicants">Rejected</a></li>
						</ul>
					</li> -->
                    <!-- <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Complaints <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/complaints_details">Pending</a></li>
							<li><a href="/admin_dashboard_selected_applicants">Resolved</a></li>
						</ul>
					</li> -->
                    <!-- <li>
                        <a href="/payment">Payment</a>
                    </li>
                    <li>
                        <a href="/complaints_details">Complaints</a>
                    </li>
                    <li>
                        <a href="/leave_requests">Leave Requests</a>
                    </li>
                </ul> -->
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    <!-- <div class="table_container">
      <table class="data_table"> -->
        <!-- <thead>
          <tr>
            <th><a href="/application">Apply For a seat</a></th>
          </tr>
          <tr>
            <th><a href="/userApplicationStatus">Application Status</a></th>
          </tr>
          <tr>
            <th>Student ID</th>
          </tr>
          <tr>
            <th>Student ID</th>
          </tr>
        </thead> -->
        <!-- <tbody>
          <tr>
            <form id="payment_form">
              <td><input name="student_id" type="text" required></td>
              <td><input name="amount" type="number"></td>
              <td><input name="payslip_number" type="text"></td>
              <td><input name="payment_type" type="text"></td>
              <td><input name="payment_date" type="date"></td>
              <td><button type="submit" class="accept-button">Add</button></td>
            </form>
          </tr>
        </tbody> -->
      <!-- </table>
      </div> -->
	<!-- Header -->
     <header>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="header-content-inner">
                    <img src="/images/uni_logo.png" width="200" height="200" alt="uni_logo">
                </div> 
                <a href="/application" class="btn btn-primary btn-lg">Apply for a seat</a><br>
                <a data-student_id="<%= student_id%>" id = "status_button" href="#" class="btn btn-primary btn-lg">Application status</a><br>
            </div>
        </div>
    </header>

    <script>
      document.querySelector('#status_button').addEventListener('click', function(event) {
        event.preventDefault();
        const student_id = event.target.dataset.student_id;
        window.location.href = `/application_status?student_id=${student_id}`;
      })
    </script>

    <!-- jQuery -->
    <script src="/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="/custom.js"></script>

</body>

</html>

