<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Bangabandhu Hall, SUST</title>

    <!-- Bootstrap Core CSS -->
    <link href="./bootstrap.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="./custom.css" rel="stylesheet">


    <!-- Custom Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head>

<body>

     <!-- Navigation -->
     <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">DASHBOARD</a>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

   
	<!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <img src="/images/uni_logo.png" width="200" height="200" alt="uni_logo">
            </div>
            <div class="header-content-inner">
              <h2>Bangabandhu Sheikh Mujibur Rahman Hall</h2>
              <p>Shahjalal University of Science and Technology</p>
              <a href="/application" class="btn btn-primary btn-lg">APPLY FOR A SEAT</a>
            </div>
            <div class="header-content-inner">
              <a href="#" class="btn btn-primary btn-lg">APPLICATION STATUS</a>
          </div>
        </div>
    </header>
    </section>

</body>

</html>
