<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link href="/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/custom.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <title>Leave Requests</title>
    <style>
      body {
        font-family: 'Arial', 'Helvetica', 'sans-serif';
        margin-top: 4%;
        overflow: hidden;
      }

      input {
        font-family: 'Arial', 'Helvetica', 'sans-serif';
      }

      a {
        text-decoration: none;
        color: #000;
      }

      .table_container {
        margin-top: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .form-row {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
      }

      .form-row label {
          flex: 1 1 100px; /* Adjust label width */
          margin-right: 10px;
      }

      .form-row input {
          flex: 1 1 calc(60%); /* Adjust input width */
          padding: 8px;
          margin-right: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
      }

      .centered-heading {
        text-align: center;
      }

      #data_table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
      }

      #data_table td {
        text-align: center;
      }

      #data_table td, #data_table th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #data_table tr:nth-child(even){background-color: #f2f2f2;}

      #data_table tr:hover {background-color: #ddd;}

      #data_table th {
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #337ab7;
        color: white;
      }

      .accept-button {
        background-color: #00A300;
        color: white;
        border: none;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 2px 2px;
        cursor: pointer;
    }

    .reject-button {
        background-color: red;
        color: white;
        border: none;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 2px 2px;
        cursor: pointer;
    }
    </style>
    
  </head>
  <body>
    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Logo and responsive toggle -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/admin_dashboard">
                <!-- <span class="glyphicon glyphicon-fire"></span>  -->
                  <span class="logo-container"><img src="/images/uni_logo.png" width="40" height="40" alt="uni_logo"></span> 
                Bangabandhu Hall, SUST
              </a>
          </div>
          <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/admin_dashboard">Home</a>
                  </li>
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Applications <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="about-us">
            <li><a href="/admin_dashboard_applicants">New applications</a></li>
            <li><a href="/admin_dashboard_selected_applicants">Selected For Viva</a></li>
            <li><a href="/admin_dashboard_accepted_applicants">Pending Payment</a></li>
                          <li><a href="/admin_dashboard_admitted_applicants">Admitted</a></li>
                          <li><a href="/admin_dashboard_rejected_applicants">Rejected</a></li>
          </ul>
        </li>
                  <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Complaints <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="about-us">
            <li><a href="/admin_dashboard_applicants">Pending</a></li>
            <li><a href="/admin_dashboard_selected_applicants">Resolved</a></li>
          </ul>
        </li> -->
                  <li>
                      <!-- <a href="/admin_dashboard_viewpayment">Payment</a> -->
                      <a href="/payment">Payment</a>
                  </li>
                  <li>
                      <a href="/complaints_details">Complaints</a>
                  </li>
                  <li>
                      <a href="/leave_requests">Leave Requests</a>
                  </li>
              </ul>
              
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
  </nav>
    <div>
      <h3 class="centered-heading">Complaints</h3>
    </div>
    <div class="table_container">
      <table id="data_table">
        <thead>
          <tr>
            <th>Student ID</th>
            <!-- <th>View Details</th> -->
            <th>Requested Leave Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%
          function formatDate(dateString) {
            // Create a JavaScript Date object from the database string
                const date = new Date(dateString);
          
                // Format the date as dd/mm/yy
                const day = date.getDate().toString().padStart(2, '0');
                const month = (date.getMonth() + 1).toString().padStart(2, '0');
                const year = date.getFullYear().toString().slice(-2);
                return `${day}/${month}/${year}`;
              }
          %>
          <% data.forEach(row => { %>
            <tr>
              <td><%= row.student_id %></td>
              <td><%= formatDate(row.leave_date) %></td>
              <td>
                <button class="reject-button" onclick="resolveLeaveRequest('<%= row.student_id%>')">CONFIRM LEAVE / DELETE STUDENT</button>
                <!-- <button class="reject-button" onclick="deleteComplaint('<%= row.student_id%>')">Delete</button> -->
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      </div>
    <script>
      // const tableRows = document.querySelectorAll('tr[id^=room-]');
      // for (const row of tableRows) {
      //   row.addEventListener('click', (event) => {
      //     const roomId = event.currentTarget.id.split('-')[1];
      //     document.getElementById('room_id').value = roomId;
      //   });

      //   row.addEventListener('keydown', (event) => {
      //     if (event.key === 'Enter') {
      //       const roomId = event.currentTarget.id.split('-')[1];
      //       document.getElementById('room_id').value = roomId;
      //     }
      //   });
      // }

      function resolveLeaveRequest(student_id) {
        var confirmation = confirm('Are you sure you want to delete this student?');
        if (confirmation) {
          fetch('/auth/resolve_leave_request', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ student_id: student_id })
        })
        .then(response => {
          if (response.ok) {
            window.location.reload();
          } else {
            console.error('Failed to resolve');
          }
          })
          .catch(error => {
            console.error('Error:', error);
          });
           alert('Deleted successfully');
        } else {
          // alert('Deletion cancelled');
        }
      }

    </script>
    <script src="/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="/custom.js"></script>
  </body>
  </body>
</html>
