body {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 10px 30px 0;
}

.user-list {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.user-list th {
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 0;
    text-align: left;

}


.user-list td {
    font-size: 0.875em;
    background: #f5f5f5;
    border-top: 10px solid #fff;
    vertical-align: middle;
    padding: 12px 8px;
    position: relative;
    /* text-align: center; */
    text-align: left;
}

.user-list td:first-child,
.user-list th:first-child {
    padding-left: 20px;
}

.user-list th span {
    border-bottom: 2px solid #c2c2c2;
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 5px;
    font-weight: normal;
}

.user-list th a span {
    color: #344644;
}

.user-list th a span:after {
    content: "\f0dc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    font-size: 0.75em;
}

.user-list th a.asc span:after {
    content: "\f0dd";
}

.user-list th a.desc span:after {
    content: "\f0de";
}

.user-list th a:hover span {
    text-decoration: none;
    color: #2bb6a3;
    border-color: #2bb6a3;
}


.user-list td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.user-list td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 0;
    text-decoration: none;
    color: #337ab7;
}

.mail-link {
    text-decoration: none;
    color: #337ab7;
}

.user-list td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}

.label-default {
    background-color: orange;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.accept-button {
    background-color: #00A300;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
}

.reject-button {
    background-color: #FFAC1C;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.accept-button:hover {
    background-color: #00D100;
    color: white;
}

.reject-button:hover {
    background-color: #FFBF00;
    color: white;
}

/* for admin_dashboardrejected_applicants */
.status-level-rejected {
    background-color: #ff0000;
}

/* for admin_dashboard_accepted_applicants */

.status-level-accepted {
    background-color: #008000;
}