@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");


/*  styling scrollbars  */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3ea175;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
}

* {
    margin: 0;
    padding: 0;

}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    overflow: hidden;

}

#siteNav {
    background-color: rgba(23, 20, 29, 0.9);
}

#siteNav,
#siteNav a {
    color: rgb(255, 255, 255);
}




.text-primary-p {
    color: #a5aaad;
    font-size: 14px;
    font-weight: 700;
}

.font-bold {
    font-weight: 700;
}

.text-title {
    color: #2e4a66;
}

.text-lightblue {
    color: #469cac;
}

.text-red {
    color: #cc3d38;
}

.text-yellow {
    color: #a98921;
}

.text-green {
    color: #3b9668;
}

/* .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar nav nav nav"
        "sidebar main main main";

} */

/* .nav_icon {
    display: none;
}

.nav_icon>i {
    font-size: 26px;
    color: #a5aaad;
}

.navbar__left>a {
    margin-right: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
    font-weight: 700;
}

.navbar__left .active_link {
    color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;
}

.navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__right>a {
    margin-left: 20px;
    text-decoration: none;
} */

/* .navbar__right>a>i {
    color: #a5aaad;
    font-size: 16px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
    padding: 7px;
} */

/* main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
} */

.main__container {
    margin-top: 5%;
    padding: 20px 35px;

}

.navbar-default {
    font-size: large;
    /* font-weight: bold; */
    -webkit-text-fill-color: #fff;
    /* important */
    border-color: rgba(34, 34, 34, .05);
    /* background-color: #17141d; */
    background-color: rgba(23, 20, 29, 0.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font: 400 20px "Lato";

}


.main__title>img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}


.main__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 10px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    padding: 20px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_inner>span {
    font-size: 25px;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
}

/* .charts__left {
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
} */

.charts__left__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charts__left__title>div>h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.charts__left__title>div>p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

/* .charts__left__title>i {
    color: #ffffff;
    font-size: 20px;
    background: #ffc100;
    border-radius: 200px 0px 200px 200px;
    -moz-border-radius: 200px 0px 200px 200px;
    -webkit-border-radius: 200px 0px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
} */

/* 
.charts__right {
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
} */

.charts__right__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charts__right__title>div>h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.charts__right__title>div>p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

/* .charts__right__title>i {
    color: #ffffff;
    font-size: 20px;
    background: #39447a;
    border-radius: 200px 0px 200px 200px;
    -moz-border-radius: 200px 0px 200px 200px;
    -webkit-border-radius: 200px 0px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
} */

.charts__right__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.card1 {
    background: #d1ecf1;
    color: #35a4ba;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}

.card2 {
    background: #d2f9ee;
    color: #38e1b0;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}

.card3 {
    background: #d6d8d9;
    color: #3a3e41;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}

.card4 {
    background: #fddcdf;
    color: #f65a6f;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}

/*  SIDEBAR STARTS HERE  */



.sidebar__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f3f4f6;
    margin-bottom: 30px;
    /* color: #E85B6B; */
}

h1 {
    color: rgb(0, 0, 0);
    /* Change the text color to blue */
    font-family: 'lato', 'Arial', sans-serif;
    /* Set the font family */
    text-align: left;
    /* Center the text */
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: -20px;
    color: #899196;

}

@media only screen and (max-width: 978px) {
    .container {
        grid-template-columns: 1fr;
        /* grid-template-rows: 0.2fr 2.2fr; */
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
            "nav"
            "main";
    }

    #sidebar {
        display: none;
    }

    .sidebar__title>i {
        display: inline;
    }

    .nav_icon {
        display: inline;
    }
}

@media only screen and (max-width: 855px) {
    .main__cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 480px) {
    .navbar__left {
        display: none;
    }
}


table {
    width: 100%;
    table-layout: fixed;

}

.tbl-header {
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: #292727; */
    border-radius: 10px 10px 0 0;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;

}

.tbl-content {
    height: 30rem;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    height: 3.5rem;
    font-weight: bold;
    font-family: "Futura PT";
}

tr {
    height: 40px;

}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 500;
    font-size: 13px;
    color: rgb(0, 0, 0);
    border: #d8d8d8;

}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
    background: -webkit-linear-gradient(left, #ffffff, #ffffff);
    background: linear-gradient(to right, #ffffff, #ffffff);
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 50px;
}

.action-btn_solved {
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 13px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: #4CAF50;
    border: 1px solid #387D39;
    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    height: 25px;
    transition: all 150ms ease-in-out 0s;
    font-weight: bold;
    margin-right: 0.4rem;


}

.action-btn_solved:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 97, 73);
    box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px, rgb(195 231 202) 0px 0px 0px 3px;
}

.action-btn_delete {
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 13px;

    border: 0px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(214, 48, 49);
    /* Red color */
    box-shadow: rgb(214 48 49 / 40%) 0px 2px 3px;
    color: rgb(23, 28, 31);
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    transition: all 150ms ease-in-out 0s;
}

.action-btn_delete:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(185, 28, 28);
    /* Darker red on hover */
    box-shadow: rgb(214 48 49 / 40%) 0px 2px 3px, rgb(255 179 186) 0px 0px 0px 3px;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}









/* popup window and envelop button style */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

h1,
h2,
h3 {
    color: #fff;
}

h1 {
    margin-bottom: 30px;
    font-size: 44px;
}

h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

h3 {
    font-size: 21px;
}

p {
    font-size: 18px;
    color: #ffd5df;
}

.popup-btn {
    border: none;
    background-color: white;
}

.btn:hover {
    opacity: 0.75;
}


.popup-wrap {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background: rgba(0, 0, 0, 0.85);
}

.popup-box {
    width: 70rem;
    padding: 70px;
    transform: translate(-50%, -50%) scale(0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background: #fff;
    text-align: center;
}

.popup-box h2 {
    color: #1a1a1a;
}

.popup-box h3 {
    color: #888;
}

.popup-box .close-btn {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border-radius: 1000px;
    background: #d75f70;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 190%;
}

.popup-box .close-btn:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.transform-in,
.transform-out {
    display: block;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.transform-in {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.transform-out {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
}